body {
    font-family: system-ui, sans-serif;
    background: #d1ffcc;
    text-align: center;
  }

.lead {
    font-size: 1.5em;
    font-weight: 300;
  }

section {
    background: white;
    padding: 20px;
    margin: 20px 600px 20px 600px;
    border-radius: 20px;
  }

section h2 {
    margin-top: 0;
  }


th {
    text-align: start;
    border-bottom: 1px solid black;
}
  
table {
    border-collapse: collapse;
    margin: auto;
}
  
th,
td {
    padding: 5px 10px;
}
  
td.price {
    text-align: end;
}

div {
    padding: 20px
}



